<div class="container pb-2">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1 class="display-4 mt-2">Editar Conta</h1>
      <%= render 'form', user: @user %>
    </div>
  </div>

</div>