<div class="jumbotron mt-2 pb-2">
  <h1 class="display-3">Bem vindo !</h1>
  <p class="lead">Cadastre-se e gerencie seus contatos !</p>
  <p>
    <%= link_to 'Criar conta', new_user_path, class: 'btn btn-primary' %>
  </p>
</div>