<div class="jumbotron mt-2 pb-2">
    <h1 class="display-3">Welcome Contact list !</h1>
    <p class="lead">Jumbo helper text</p>
    <p>
        <a class="btn btn-primary btn-lg">Criar conta</a>
    </p>
</div>