<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h1 class="mt-2 pb-2">Novo Contato</h1>

      <%= render 'form', contact: @contact %>

      <%= link_to 'Voltar', contacts_path, class: 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>
</div>