<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="jumbotron pt-4 pb-4">
        <h1 class="h3 mt-0 pb-2">Contato</h1>
        <p>
          <strong>Name:</strong>
          <%= @contact.name %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @contact.phone %>
        </p>

        <%= link_to 'Editar', edit_contact_path(@contact), class:'btn btn-outline-success btn-sm' %>
        |
        <%= link_to 'Voltar', contacts_path, class:'btn btn-outline-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>